<!-- <google-map
  height="500px"
  width="100%"
  [center]="center"
  [zoom]="zoom"> 

  🔵 Employee live markers 
   <map-marker
    *ngFor="let m of markers"
    [position]="m.position"
    [label]="m.label">
  </map-marker>

  🔵 Employee route lines 
 <map-polyline
    *ngFor="let empId of (polylines | keyvalue)"
    [path]="empId.value"
 [options]="polylineOptions">
  </map-polyline>

</google-map> 


 <div class="live-distance-panel">
  <h4>📏 Live Distance</h4>

  <div *ngFor="let empId of liveDistances | keyvalue">
    <b>{{ empId.key }}</b> :
    {{ empId.value | number:'1.2-2' }} km
  </div>
</div> -->

<google-map
  height="100%"
  width="100%"
  [center]="center"
  [zoom]="zoom">

  <!-- 🔵 Employee live markers -->
  <map-marker
    *ngFor="let m of markers"
    [position]="m.position"
    [label]="m.label">
  </map-marker>

  <!-- 🔵 Employee route lines -->
  <map-polyline
    *ngFor="let emp of (polylines | keyvalue)"
    [path]="emp.value"
    [options]="polylineOptions">
  </map-polyline>

</google-map>
