.table-danger {
  background-color: #f8d7da !important;
}

.empty-state {
  height: calc(100vh - 80px); /* adjust for header */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5b6c7c;
  font-size: 25px;
  font-weight: 800;
}