<div class="dashboard-main">
  <div class="dashboard-card">
    <h2 class="page-title">Inventory Batches</h2>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Product</th>
            <th>Code</th>
            <th>Initial Qty</th>
            <th>Available Qty</th>
            <th>MFG</th>
            <th>EXP</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of paginatedRows; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ row.productName }}</td>
            <td>{{ row.productCode }}</td>
            <td>{{ row.initialQuantity }}</td>
            <td>
              <span class="quantity-badge" [class.danger]="row.quantityAvailable === 0"
                [class.warning]="row.availableQuantity <= 5 && row.availableQuantity > 0"
                [class.success]="row.availableQuantity > 5">
                {{ row.quantityAvailable }}
              </span>
            </td>
            <td>
              <input type="date" class="form-control form-control-sm date-input"
                [ngModel]="row.manufactureDate ? (row.manufactureDate | date:'yyyy-MM-dd') : null"
                (ngModelChange)="updateBatchDates(row, $event, 'mfg')" />
            </td>
            <td>
              <input type="date" class="form-control form-control-sm date-input"
                [ngModel]="row.expiryDate ? (row.expiryDate | date:'yyyy-MM-dd') : null"
                (ngModelChange)="updateBatchDates(row, $event, 'exp')" />
            </td>
            <td>
              <span class="status-badge" [class.expired]="getStatus(row.expiryDate) === 'Expired'"
                [class.near-expiry]="getStatus(row.expiryDate) === 'Near Expiry'"
                [class.valid]="getStatus(row.expiryDate) === 'Valid'"
                [class.not-set]="getStatus(row.expiryDate) === 'Not Set'">
                {{ getStatus(row.expiryDate) }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 🔥 PAGINATION OUTSIDE -->
    <div class="pagination" *ngIf="totalPages > 1">

      <button class="page-btn" (click)="prevPage()" [disabled]="currentPage === 1">
        ‹
      </button>

      <ng-container *ngFor="let page of getPageNumbers()">

        <span *ngIf="page !== '...'" (click)="goToPage(page)" [class.active]="page === currentPage" class="page-number">
          {{ page }}
        </span>

        <span *ngIf="page === '...'" class="dots">
          ...
        </span>

      </ng-container>

      <button class="page-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
        ›
      </button>

    </div>

  </div>
</div>