<h2>Main Inventory</h2>

<div class="search-box mb-3">
  <input class="form-control" placeholder="Search..." [(ngModel)]="searchTerm" (input)="onSearch()">
</div>
<div class="inventory-charts-section">

  <h3>Stock Distribution (Pie Chart)</h3>

  <div class="chart-layout">

    <!-- Pie chart -->
    <canvas id="pieChart"></canvas>

    <!-- 🔥 DYNAMIC LEGEND -->
    <div class="custom-legend">
      <div
        class="legend-item"
        *ngFor="let item of stockList; let i = index"
      >
        <span
          class="legend-box"
          [style.backgroundColor]="pieColors[i % pieColors.length]"
        ></span>

        <span>{{ item.productName }}</span>
      </div>
    </div>

  </div>
</div>



<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Product</th>
      <th>Code</th>
      <th>Measure</th>
      
      <th>Available Stock</th>
      <th>Reorder</th>
      <th>Updated</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let s of filteredStock">
      <td>{{ s.productName }}</td>
      <td>{{ s.productCode }}</td>
      <td>{{ s.measure }}</td>
      
      
      <td [ngClass]="{
    'low-stock': s.currentStock <= 5,
    'medium-stock': s.currentStock > 5 && s.currentStock <= 20,
    'high-stock': s.currentStock > 20
  }">
        {{ s.currentStock }}
      </td>
      <td>{{ s.reorderLevel }}</td>
      <td>{{ s.updatedAt | date:'short' }}</td>
    </tr>
  </tbody>
</table>