<h2>Main Inventory</h2>

<div class="search-box mb-3">
  <input class="form-control" placeholder="Search..." [(ngModel)]="searchTerm" (input)="onSearch()">
</div>
<div class="inventory-charts-section">

  <h3>Stock Distribution (Pie Chart)</h3>

  <div class="chart-layout">

    <!-- Pie chart -->
    <canvas id="pieChart"></canvas>

    <!-- 🔥 DYNAMIC LEGEND -->
    <div class="custom-legend">
      <div class="legend-item" *ngFor="let item of stockList; let i = index">
        <span class="legend-box" [style.backgroundColor]="pieColors[i % pieColors.length]"></span>

        <span>{{ item.productName }}</span>
      </div>
    </div>

  </div>
</div>



<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Product</th>
      <th>Code</th>
      <th>Measure</th>

      <th>Available Stock</th>
      <th>Damaged Stock</th>
      <th>Updated</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let s of paginatedStock">
      <td>{{ s.productName }}</td>
      <td>{{ s.productCode }}</td>
      <td>{{ s.measure }}</td>


      <td [ngClass]="{
    'low-stock': s.currentStock <= 5,
    'medium-stock': s.currentStock > 5 && s.currentStock <= 20,
    'high-stock': s.currentStock > 20
  }">
        {{ s.currentStock }}
      </td>
      <td [ngClass]="{
  'text-danger': s.damagedStock > 0
}">
  {{ s.damagedStock }}
</td>
      <td>{{ s.updatedAt | date:'short' }}</td>
    </tr>
  </tbody>
</table>

<!-- Desktop Pagination -->
<div class="desktop-pagination" *ngIf="totalPages > 1">
  <button class="page-btn" [disabled]="currentPage === 1" (click)="prevPage()">
    <i class="fas fa-chevron-left"></i> Previous
  </button>

  <div class="page-numbers">
    <span *ngFor="let page of getPageNumbers()" class="page-number" [class.active]="page === currentPage"
      [class.disabled]="page === '...'" (click)="handlePageClick(page)">
      {{ page }}
    </span>
  </div>

  <button class="page-btn" [disabled]="currentPage === totalPages" (click)="nextPage()">
    Next <i class="fas fa-chevron-right"></i>
  </button>
</div>

<!-- Mobile Pagination -->
<div class="mobile-pagination" *ngIf="totalPages > 1">
  <button class="mobile-nav" [disabled]="currentPage === 1" (click)="prevPage()">
    ←
  </button>

  <div class="mobile-info">
    Page {{ currentPage }} of {{ totalPages }}
  </div>

  <button class="mobile-nav" [disabled]="currentPage === totalPages" (click)="nextPage()">
    →
  </button>
</div>