<!-- 
<div class="customer-container">
  <h2>Create Customer (Distributor)</h2>
  <form (ngSubmit)="createCustomer()">
    <input type="text" placeholder="Name" [(ngModel)]="customer.name" name="name" required />
    <input type="email" placeholder="Email" [(ngModel)]="customer.email" name="email" required />
    <input type="text" placeholder="Phone" [(ngModel)]="customer.phoneNumber" name="phoneNumber" />
    <button type="submit">Create</button>
  </form>
  <p class="message text-green-600">{{ message }}</p>

  <table class="customer-table" *ngIf="customers.length > 0">
    <thead>
      <tr> 
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Registered</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of customers">
        <td>{{ c.name }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.phoneNumber }}</td>
        <td>{{ c.isRegistered ? 'Yes' : 'No' }}</td>
      </tr>
    </tbody>
  </table>
</div> -->



<div class="customer-container">
  <h2>Create Customer (Distributor)</h2>
  <form (ngSubmit)="createCustomer()">
    <input type="text" placeholder="Name" [(ngModel)]="customer.name" name="name" required />
    <input type="email" placeholder="Email" [(ngModel)]="customer.email" name="email" required />
    <input type="text" placeholder="Phone" [(ngModel)]="customer.phoneNumber" name="phoneNumber" />
     <input type="text" placeholder="Address" [(ngModel)]="customer.address" name="address" />
    <button type="submit">Create</button>
  </form>
  <p class="message text-green-600">{{ message }}</p>

  <!-- Customer List Table -->
  <table class="customer-table" *ngIf="customers.length > 0">
    <thead>
      <tr> 
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
             <th>Address</th>
        <th>Registered</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let c of customers">
        <td>
          <input [(ngModel)]="c.name" name="name-{{c.customerId}}" />
        </td>
        <td>
          <input [(ngModel)]="c.email" name="email-{{c.customerId}}" />
        </td>
        <td>
          <input [(ngModel)]="c.phoneNumber" name="phone-{{c.customerId}}" />
        </td>
         <td>
          <input [(ngModel)]="c.address" name="phone-{{c.address}}" />
        </td>
        
        <td>{{ c.isRegistered ? 'Yes' : 'No' }}</td>
       <td>
  <button class="update-btn" (click)="updateCustomer(c)">Update</button>
  <button class="delete-btn" (click)="deleteCustomer(c.customerId!)">Delete</button>
</td>
      </tr>
    </tbody>
  </table>
</div>